.wrapper {
    border: 0.1em solid red;
    display: grid;
    gap: 1em;
    padding: 1em;
    margin: 1em;
    grid-template-columns: minmax(150px, 1fr) repeat(2, 3fr);
    grid-template-areas: 
    "logo head head"
    "side main main"
    "side foot . ";
}

.wrapper > * {
    border: 0.1em solid;
    background: lightgray;
    padding: 1em;
}

aside {
    grid-area: side;
}
.logo {
    grid-area: logo;
}
main {
    grid-area: main;
}
header {
    grid-area: head;
}
footer {
    grid-area: foot;
}